@charset "utf-8";
@font-face {
    font-family: "ULTRAKILLFONT";
    src: url('https://drive.google.com/file/d/1N5VSoKwzBdY2vPo1FjkmhEOt78OknV2v/view?usp=drive_link') format('woff'),
         url('https://drive.google.com/file/d/1IIqEPgSEr0UY0PdZwmioIQwoASiy25Vo/view?usp=drive_link') format('truetype'),
         url('https://drive.google.com/file/d/1jZSmzbKP-nN7myTtQUGmU0A4pngIq-yi/view?usp=drive_link') format('woff2');
}  

body {
  max-width:60em;
  margin: 1em auto;
  background-color: black;
  color: white;
}

h1 {
	background-color: firebrick;
    color: white;
	padding: 0.5em;
	font-family: sans-serif;
	border-radius: 0 1em 1em 1em;
}

h2 {
    font-size: 2.6em;
    color: red;
    text-align: center;
    font: inherit;
    font-family: "ULTRAKILLFONT", sans-serif;
}



header {
	height: 5em;
	padding: 0 1em;
	margin-bottom: 1em;
  	display: grid;
  	grid-template-columns: 6em 1fr 1fr;
}

header p:first-of-type{
  font-size: 2em;
  font-weight: bold;
}

header p:last-of-type {
    transform: rotate(-10deg);
    border: thin solid;
    padding: 0.5em;
    border-radius: 0.2em;
    align-self: end;
    width: 14em;
}
header #backlink {
 display:inline-block;
 text-shadow: none; 
 color: transparent;
 background: transparent;
 background-size: contain;
 width: 5em;
 height: 3em;
}

footer {
  	display: grid;
  	grid-template-columns: 1fr 10em;
}

footer > * {
  grid-column: -2 / -1;
}
